*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
display:flex;
background:#f5f7fb;
}

.sidebar{
width:250px;
height:100vh;
background:#8b0000;
color:white;
padding:20px;
position:fixed;
}

.sidebar h2{
margin-bottom:40px;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
margin:20px 0;
}

.sidebar ul li a{
color:white;
text-decoration:none;
}

.main-content{
margin-left:250px;
padding:30px;
width:100%;
}

.header{
margin-bottom:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.card p{
font-size:35px;
font-weight:bold;
margin-top:10px;
color:#8b0000;
}

.activity{
margin-top:40px;
background:white;
padding:20px;
border-radius:15px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:left;
}